body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #194265;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

a {
  font-size: 20px;
  color:silver;
}

a:hover {
  color: silver;
  font-style: underline;
  text-decoration-color: white;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #323a3f;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #323a3f;
  color: white;
}

.input-group :hover {
  background-color: silver;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: silver;
  color: white;
  margin-bottom: 2px;
}

.saveBtn i:hover {
  transition: all .3s ease-in-out;
}

.fa-save {
  padding: 10px;
  
}

.container {
  margin-bottom: 10%;
}